//COLORS
$color-primary:#29de7a6e;
$color-primary-dark:#28b485;
$color-secoundary:#67e2dd57;
$color-orange-light:#ffb900;
$color-orange-dark:#ff7730;
$color-blue-light:#2998ff;
$color-blue-dark:#5643fa;
$dark-shadow:rgba(0,0,0,0.2);
$color-grey-dark:#777;
$color-grey-text:#5d5c5c;
$color-grey-light:#eee;
$color-grey-placeholder:#999;

$color-white:#fff;
$color-black:#000;
//GRID MAKEUP
$grid-resolution:114rem; 
$gutter-vertical:5rem;
$gutter-horizontal:4rem;
$gutter-horizontal-others:8rem;